@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
}
button {
  font-family: "Inter", sans-serif;
}

li {
  transition-duration: 0.3s;
}

li:active {
  color: dodgerblue;
}

.blog-title {
  font-size: 180px;
  padding-inline: 20px;
  border-left: 3px solid;
  font-family: "Courier New", Courier, monospace;
  font-weight: 550;
}

body.light {
  background-color: white;
  color: black;
}

body.dark {
  background-color: #090d1f;
  color: white;
}

.cont {
  margin-top: 50px;
}

.active li{
  color: dodgerblue;
  transform: scale(0.9);
}

@media only screen and (max-width: 850px) {
  .blog-title {
    font-size: 100px;
  }
}
@media only screen and (max-width: 560px) {
  .blog-title {
    font-size: 70px;
  }
  .cont{
    margin-top: 30px;
  }
}

@media only screen and (max-width: 450px) {
  .blog-title {
    font-size: 50px;
  }
}
